*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

/*header-section*/
.nav-bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: "Raleway";
    font-optical-sizing: auto;
    font-weight: 400, 700;
    font-style: normal;
    height: 40px;
    padding-top: 40px;
    padding-bottom: 60px;
    width: 90%;
    margin: auto;
}

.attributes{
    width: 20%;
}

.header-ul{
    display: flex;
    justify-content: space-between;
    list-style: none;
    align-items: center;
}

.header-a{
    text-decoration: none;
    color:hsl(243, 87%, 12%) ;
}

/*body-section*/
.section1{
    display: flex;
    align-items: center;
    justify-content: space-between; 
    padding-bottom:100px;
    width: 90%;
    margin: auto;
}
.part1{
    width: 50%;
}
.part2, .part4{
    width:50%;
}

img{
    width: 100%;
}

h2{
    font-family: "Raleway";
    font-weight: 700;
    font-style: normal;
    margin-bottom: 20px;
    color:hsl(243, 87%, 12%) ;
    width: 80%;
    font-size:35px ;
}

p{
    font-family: "Open Sans";
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    margin-bottom: 20px;
    color:hsl(243, 87%, 12%) ;
    width: 70%;
}

#p-card{
    width: 100%;
}

input{
    width: 40%;
    height: 35px;
    opacity: 50%;
    border-radius: 3px;
}

#get,#bottom-btn{
    height: 35px;
    width: 25%;
    border: none;
    background-color: hsl(224, 93%, 58%);
    color: white;
    border-radius: 3px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#get:hover, 
#bottom-btn:hover{
    background-color: hsl(224, 83%, 67%);
    cursor: pointer;
}

::placeholder{
    padding: 10px;
    /*color: white;*/
}


/*partition-2*/
.bg-image{
  background-image: url(/images/bg-curve-desktop.svg);
  background-repeat: no-repeat; 
  background-size: cover;
  background-position: top ;
}
.partition-2{
    background-color: hsl(240, 75%, 98%);
    background-repeat: repeat-x;
    margin-top: none;
}
.section-2{
    display: flex;
    align-items: center;
    justify-content: space-between; 
    padding-top: 5%;
    padding-bottom:100px;
    width: 90%;
    margin: auto;
}

#see-how{
    display: flex;
    align-items: center;
    color: hsl(170, 45%, 43%);
}

#see-how:hover{
    color: hsl(170, 82%, 78%);
    cursor: pointer;
}
#arrow-icon{
    width: 20px;
}
#quote-icon{
    width: 20px;
}

.card{
    width: 400px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 30px;
    border-radius: 3px;
}
.founder-details{
    display: flex;
    align-items: center;
    height: 50px;
}
#founder-image{
    width: 50px;
    border-radius: 50%;
    height: 50px;
}
.title{
    padding: 10px;
    line-height: 20px;
    align-items: center;
}
    
h4{
    font-family: "Raleway";
    font-weight: 700;
    font-style: normal;
    color:hsl(243, 87%, 12%);
}

.ceo{
    font-size: 10px;
    margin: 0%;
    width: 100%;
}

/*partition-3*/
.partition-3{
    background-color: hsl(238, 22%, 44%);
}

.section-3{
    display: flex;
    align-items: center;
    justify-content: space-between; 
    padding-bottom:5%;
    padding-top: 5%;
    width: 90%;
    margin: auto;
}

.part5{
    width:100%;
    margin: auto;
}

.part6{
    width:100%;
    padding-left: 100px;
}

h3{
    font-family: "Raleway";
    font-weight: 700;
    font-style: normal;
    margin-bottom: 20px;
    color: white;
    width: 100%;
}

#last-p{
    font-family: "Open Sans";
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    margin-bottom: 20px;
    color: white;
    width: 70%;
}

#bottom-input{
    width: 70%;
    height: 40px;
    opacity: 70%;
    border-radius: 3px;
    border: none;
}

#bottom-btn{
    margin-top: 10px
}
/*footer*/

footer{
    background-color: hsl(243, 87%, 12%);
    color: white;
}
.section-4{
    padding-bottom:50px;
    padding-top: 5%;
    width: 90%;
    margin: auto;
}

.second-section-footer{
    display: grid;
    grid-template-columns: repeat(4, 25%);
}

#footer-logo{
    width: 12%;
}

.footer-div1{
    font-family: "Open Sans";
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    line-height:40px;
}

#email-icon, #phone-icon{
    width: 20px;
    padding-right: 10px;
}

.phone-number{
    display: flex;
    align-items: center;
    width: 100%;
}

.email-address{
    display: flex;
    align-items: center;
}

#p-phone, #p-email{
    color: white;
    width: 70%;
    margin: 0%;
}

.footer-div2, .footer-div3{
    display: flex;
    flex-direction: top;
    justify-content: center;
    padding-right: 180px;
    padding-top: 12px;
    font-family: "Open Sans";
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    line-height:40px;
}

.footer-ul, .footer-a{
    list-style: none;
    text-decoration: none;
    color: white;
}

#fb-icon, #twitter-icon, #gram-icon{
    width: 40px;
    padding-left: 15px;
}

.footer-a:hover{
    color: hsl(224, 83%, 67%);
    cursor: pointer;
}

#fb-icon:hover{
    color: hsl(224, 83%, 67%);
    cursor: pointer;
    background-image: url("facebook.svg");
}